.block{
    margin-bottom: 10px;
}

.block2{
    background-color: var(--secondary);
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;
    padding-bottom: 25px;
    border-radius: 10px;
}

.block3{
    padding-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 80px;
}

.rodape{
    background-color: var(--secondary);
    padding-top: 14px;
    padding-bottom: 8px;
    margin-top: auto;
    margin-bottom: auto;

}

h1{
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 22;
    color: var(--primary);
}
h2{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 22;
    color: white;
}

h3{
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    color: white;
    font-size: x-large;
}


p{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16;
    color: var(--textos);
}

.img-rounded{
    border-radius: 10px;
}

.form-group{
    size: 100px;
}

.botao{
    background-color: black;
    color: white;
}

